:root{
  --mt-transition: all 0.2s ease-in-out;
  --mt-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25):
}
/* ----------- GEN STILES ---------- */
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}


.mt__width--100px {
  max-width: 100px;
  width: 20%;
}
.mt__btn{
  border-radius: 25px;
}
.game-banner{
  background-size: cover;
  min-height: fit-content;
  padding-bottom: 100px;
}
.mt__bg--gray{
  background-color: #1f1f1f;
}
.mt__bg-sand{
  background-color: #bebcbb;
}
.mt__bg-dark-blue{
  background-color: #161c3b;
}
.mt__rounded-10{
  border-radius: 10px;
}
/* ----------- / GEN STILES ---------- */

/* ---------- JUMBOTRON ------------ */
.jumbotron {
  height: 60vh;
  background: #77a1aa url(../img/jumbo-bg.png);
  background-position: center;
}
/* ---------- / JUMBOTRON ------------ */
/* ---------- GAME CARDS ------------ */
.mt__card {
  transition: all 0.2s ease-in-out;
}
.mt__card:hover {
  transform: translate(0, -10%);
  box-shadow: var(--mt-shadow);
}
/* .mt__card:focus {
  transform: translate(0, -10%);
} */
/* ---------- / GAME CARDS ------------ */
/* ---------- PLAYSTATION 5 ------------ */
.mt__device-card{
  transition: var(--mt-transition);
  opacity: 50%;
  border-bottom: 1px solid  transparent;
}
.mt__device-card:hover{
  opacity: 100%;
  border-bottom: 1px solid  #0b5ed7;
}
/* ---------- / PLAYSTATION 5 ------------ */
/* ---------- GAME BANNER ------------ */
.it-take-2{
  height: 60vh;
  background: #fece82 url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
}
/* ---------- / GAME BANNER ------------ */
/* ---------- GAME CARDS ------------ */
.new-games__card{
  transition: var(--mt-transition);
}
.new-games__card:hover{
  transform: scale(1.03);
}
/* ---------- / GAME CARDS ------------ */

@media only screen and (min-width: 768px) {
  .mt__mw-50 {
    max-width: 50vw;
  }
}
